/* CSS file */

Application {
	backgroundGradientColors: #363636, #000000;
	fontFamily: Arial;
	fontSize: 10;
	color: #363636;
}

ScrollBar {
	thumbIcon: Embed(source='assets/images/VScrollBar_thumbIcon.png');
	trackSkin: Embed(source='assets/images/VScrollBar_trackSkin.png');
	thumbUpSkin: Embed(source='assets/images/VScrollBar_thumbUpSkin.png', scaleGridLeft=1, scaleGridRight=11, scaleGridTop=8, scaleGridBottom=51);
	thumbOverSkin: Embed(source='assets/images/VScrollBar_thumbOverSkin.png', scaleGridLeft=1, scaleGridRight=11, scaleGridTop=8, scaleGridBottom=51);
	thumbDownSkin: Embed(source='assets/images/VScrollBar_thumbDownSkin.png', scaleGridLeft=1, scaleGridRight=11, scaleGridTop=8, scaleGridBottom=51);	 
	upArrowUpSkin: Embed(source='assets/images/VScrollBar_upArrowUpSkin.png');
	upArrowDownSkin: Embed(source='assets/images/VScrollBar_upArrowDownSkin.png');
	upArrowOverSkin: Embed(source='assets/images/VScrollBar_upArrowOverSkin.png');
	downArrowUpSkin: Embed(source='assets/images/VScrollBar_downArrowUpSkin.png');
	downArrowDownSkin: Embed(source='assets/images/VScrollBar_downArrowDownSkin.png');
	downArrowOverSkin: Embed(source='assets/images/VScrollBar_downArrowOverSkin.png'); 
}

RadioButton {
	color: #999999;
	textRollOverColor: #363636;
	textSelectedColor: #363636;		
	upIcon: Embed(source='assets/images/RadioButton_upIcon.png');
	downIcon: Embed(source='assets/images/RadioButton_downIcon.png');
	overIcon: Embed(source='assets/images/RadioButton_overIcon.png');
	disabledIcon: Embed(source='assets/images/RadioButton_disabledIcon.png');	
	selectedUpIcon: Embed(source='assets/images/RadioButton_selectedUpIcon.png');
	selectedOverIcon: Embed(source='assets/images/RadioButton_selectedDownIcon.png');
	selectedDownIcon: Embed(source='assets/images/RadioButton_selectedOverIcon.png');
	selectedDisabledIcon: Embed(source='assets/images/RadioButton_selectedDisabledIcon.png');
}

CheckBox {
	color: #999999;
	textRollOverColor: #363636;
	textSelectedColor: #363636;		
	upIcon: Embed(source='assets/images/CheckBox_upIcon.png');
	downIcon: Embed(source='assets/images/CheckBox_downIcon.png');
	overIcon: Embed(source='assets/images/CheckBox_overIcon.png');
	disabledIcon: Embed(source='assets/images/CheckBox_disabledIcon.png');	
	selectedUpIcon: Embed(source='assets/images/CheckBox_selectedUpIcon.png');
	selectedOverIcon: Embed(source='assets/images/CheckBox_selectedDownIcon.png');
	selectedDownIcon: Embed(source='assets/images/CheckBox_selectedOverIcon.png');
	selectedDisabledIcon: Embed(source='assets/images/CheckBox_selectedDisabledIcon.png');
}

Button {
	color: #cccccc;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
	upSkin: Embed(source='assets/images/Button_upSkin.png', scaleGridLeft=6, scaleGridRight=60, scaleGridTop=6, scaleGridBottom=17);
	downSkin: Embed(source='assets/images/Button_downSkin.png', scaleGridLeft=6, scaleGridRight=60, scaleGridTop=6, scaleGridBottom=17);
	overSkin: Embed(source='assets/images/Button_overSkin.png', scaleGridLeft=6, scaleGridRight=60, scaleGridTop=6, scaleGridBottom=17);
	disabledSkin: Embed(source='assets/images/Button_disabledSkin.png', scaleGridLeft=6, scaleGridRight=60, scaleGridTop=6, scaleGridBottom=17);
}

PopUpButton {
	upSkin: Embed(source='assets/images/PopUpButton_upSkin.png', scaleGridLeft=5, scaleGridRight=65, scaleGridTop=4, scaleGridBottom=17);
	downSkin: Embed(source='assets/images/PopUpButton_downSkin.png', scaleGridLeft=5, scaleGridRight=65, scaleGridTop=4, scaleGridBottom=17);
	overSkin: Embed(source='assets/images/PopUpButton_overSkin.png', scaleGridLeft=5, scaleGridRight=65, scaleGridTop=4, scaleGridBottom=17);
	disabledSkin: Embed(source='assets/images/PopUpButton_disabledSkin.png', scaleGridLeft=5, scaleGridRight=65, scaleGridTop=4, scaleGridBottom=17);
	popUpDownSkin: Embed(source='assets/images/PopUpButton_popUpDownSkin.png', scaleGridLeft=5, scaleGridRight=65, scaleGridTop=4, scaleGridBottom=17);
	popUpOverSkin: Embed(source='assets/images/PopUpButton_popUpOverSkin.png', scaleGridLeft=5, scaleGridRight=65, scaleGridTop=4, scaleGridBottom=17);
}

PopUpMenuButton {
	popUpStyleName: popUpMenu;   
}
.popUpMenu {
	color: #bbbbbb;
	textRollOverColor: #363636;
	textSelectedColor: #363636;
}

TabBar {
	tabStyleName: tabStyle;
}
.tabStyle {
    upSkin: Embed(source='assets/images/TabBar-tab_upSkin.png', scaleGridLeft=2, scaleGridRight=50, scaleGridTop=5, scaleGridBottom=21);
    downSkin: Embed(source='assets/images/TabBar-tab_downSkin.png', scaleGridLeft=2, scaleGridRight=50, scaleGridTop=5, scaleGridBottom=21);
    overSkin: Embed(source='assets/images/TabBar-tab_overSkin.png', scaleGridLeft=2, scaleGridRight=50, scaleGridTop=5, scaleGridBottom=21);
    disabledSkin: Embed(source='assets/images/TabBar-tab_disabledSkin.png', scaleGridLeft=2, scaleGridRight=50, scaleGridTop=5, scaleGridBottom=21);
    selectedUpSkin: Embed(source='assets/images/TabBar-tab_selectedUpSkin.png', scaleGridLeft=2, scaleGridRight=50, scaleGridTop=5, scaleGridBottom=21);
    selectedOverSkin: Embed(source='assets/images/TabBar-tab_selectedUpSkin.png', scaleGridLeft=2, scaleGridRight=50, scaleGridTop=5, scaleGridBottom=21);
    selectedDisabledSkin: Embed(source='assets/images/TabBar-tab_selectedDisabledSkin.png', scaleGridLeft=2, scaleGridRight=50, scaleGridTop=5, scaleGridBottom=21);
}

Accordion {
    headerStyleName: accordionHeader;
}
.accordionHeader {    
    upSkin: Embed(source='assets/images/AccordionHeader_upSkin.png', scaleGridLeft=1, scaleGridRight=151, scaleGridTop=1, scaleGridBottom=21);
    downSkin: Embed(source='assets/images/AccordionHeader_downSkin.png', scaleGridLeft=1, scaleGridRight=151, scaleGridTop=1, scaleGridBottom=21);
    overSkin: Embed(source='assets/images/AccordionHeader_overSkin.png', scaleGridLeft=1, scaleGridRight=151, scaleGridTop=1, scaleGridBottom=21);
	disabledSkin: Embed(source='assets/images/AccordionHeader_disabledSkin.png', scaleGridLeft=1, scaleGridRight=151, scaleGridTop=1, scaleGridBottom=21);    
    selectedUpSkin: Embed(source='assets/images/AccordionHeader_selectedSkin.png', scaleGridLeft=1, scaleGridRight=151, scaleGridTop=1, scaleGridBottom=21);
    selectedOverSkin: Embed(source='assets/images/AccordionHeader_selectedSkin.png', scaleGridLeft=1, scaleGridRight=151, scaleGridTop=1, scaleGridBottom=21);
    color: #cccccc;
    textRollOverColor: #ffffff;
    textSelectedColor: #ffffff;
}

ComboBox {
	color: #cccccc;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;	
    upSkin: Embed(source='assets/images/ComboBoxArrow_upSkin.png', scaleGridLeft=5, scaleGridRight=64, scaleGridTop=1, scaleGridBottom=21);
    downSkin: Embed(source='assets/images/ComboBoxArrow_downSkin.png', scaleGridLeft=5, scaleGridRight=64, scaleGridTop=1, scaleGridBottom=21);
    overSkin: Embed(source='assets/images/ComboBoxArrow_overSkin.png', scaleGridLeft=5, scaleGridRight=64, scaleGridTop=1, scaleGridBottom=21);
	disabledSkin: Embed(source='assets/images/ComboBoxArrow_disabledSkin.png', scaleGridLeft=5, scaleGridRight=64, scaleGridTop=1, scaleGridBottom=21);    
    editableUpSkin: Embed(source='assets/images/ComboBoxArrow_editableUpSkin.png');
    editableDownSkin: Embed(source='assets/images/ComboBoxArrow_editableDownSkin.png');
    editableOverSkin: Embed(source='assets/images/ComboBoxArrow_editableOverSkin.png');
	editableDisabledSkin: Embed(source='assets/images/ComboBoxArrow_editableDisabledSkin.png'); 
	dropdownStyleName: comboBoxDropDown;   
}
.comboBoxDropDown {
	color: #bbbbbb;
	textRollOverColor: #363636;
	textSelectedColor: #363636;
}

NumericStepper {
	upArrowUpSkin: Embed(source='assets/images/NumericStepper_upArrowUpSkin.png');
	upArrowOverSkin: Embed(source='assets/images/NumericStepper_upArrowOverSkin.png');
	upArrowDownSkin: Embed(source='assets/images/NumericStepper_upArrowDownSkin.png');
	upArrowDisabledSkin: Embed(source='assets/images/NumericStepper_upArrowDisabledSkin.png');
	downArrowUpSkin: Embed(source='assets/images/NumericStepper_downArrowUpSkin.png');
	downArrowOverSkin: Embed(source='assets/images/NumericStepper_downArrowOverSkin.png');
	downArrowDownSkin: Embed(source='assets/images/NumericStepper_downArrowDownSkin.png');
	downArrowDisabledSkin: Embed(source='assets/images/NumericStepper_downArrowDisabledSkin.png');
}

LinkButton {
	color: #bbbbbb;
	textRollOverColor: #363636;	
	textSelectedColor: #363636;	
	downSkin: Embed(source='assets/images/LinkButton_downSkin.png', scaleGridLeft=3, scaleGridRight=61, scaleGridTop=3, scaleGridBottom=19);
	overSkin: Embed(source='assets/images/LinkButton_overSkin.png', scaleGridLeft=3, scaleGridRight=61, scaleGridTop=3, scaleGridBottom=19);
}

ColorPicker {
	downSkin: Embed(source='assets/images/ColorPicker_downSkin.png');
	upSkin: Embed(source='assets/images/ColorPicker_upSkin.png');
	overSkin: Embed(source='assets/images/ColorPicker_overSkin.png');
	disabledSkin: Embed(source='assets/images/ColorPicker_disabledSkin.png'); 
}

DateChooser {
	headerColors: #363636, #000000;
	headerStyleName: dateChooserHeader;
	nextMonthDisabledSkin: Embed(source='assets/images/DateChooser_nextMonthDisabledSkin.png');
	nextMonthDownSkin: Embed(source='assets/images/DateChooser_nextMonthDownSkin.png');
	nextMonthOverSkin: Embed(source='assets/images/DateChooser_nextMonthOverSkin.png');
	nextMonthUpSkin: Embed(source='assets/images/DateChooser_nextMonthUpSkin.png');
	nextYearDisabledSkin: Embed(source='assets/images/DateChooser_nextYearDisabledSkin.png');
	nextYearDownSkin: Embed(source='assets/images/DateChooser_nextYearDownSkin.png');
	nextYearOverSkin: Embed(source='assets/images/DateChooser_nextYearOverSkin.png');
	nextYearUpSkin: Embed(source='assets/images/DateChooser_nextYearUpSkin.png');
	prevMonthDisabledSkin: Embed(source='assets/images/DateChooser_prevMonthDisabledSkin.png');						
	prevMonthDownSkin: Embed(source='assets/images/DateChooser_prevMonthDownSkin.png');
	prevMonthOverSkin: Embed(source='assets/images/DateChooser_prevMonthOverSkin.png');
	prevMonthUpSkin: Embed(source='assets/images/DateChooser_prevMonthUpSkin.png');
	prevYearDisabledSkin: Embed(source='assets/images/DateChooser_prevYearDisabledSkin.png');			
	prevYearDownSkin: Embed(source='assets/images/DateChooser_prevYearDownSkin.png');
	prevYearOverSkin: Embed(source='assets/images/DateChooser_prevYearOverSkin.png');
	prevYearUpSkin: Embed(source='assets/images/DateChooser_prevYearUpSkin.png');
	rollOverIndicatorSkin: Embed(source='assets/images/DateChooser_rollOverIndicatorSkin.png');		
	selectionIndicatorSkin: Embed(source='assets/images/DateChooser_selectionIndicatorSkin.png');
	todayIndicatorSkin: Embed(source='assets/images/DateChooser_todayIndicatorSkin.png');	
}
.dateChooserHeader {
	color: #ffffff;
}

DateField {
	disabledSkin: Embed(source='assets/images/DateField_disabledSkin.png');
	downSkin: Embed(source='assets/images/DateField_downSkin.png');
	overSkin: Embed(source='assets/images/DateField_overSkin.png');
	upSkin: Embed(source='assets/images/DateField_upSkin.png');			
}	

ButtonBar, ToggleButtonBar {
	buttonStyleName: buttonBarButton;
	firstButtonStyleName: buttonBarFirstButton;
	lastButtonStyleName: buttonBarLastButton;
}
.buttonBarButton {
	upSkin: Embed(source='assets/images/ButtonBar-button_upSkin.png', scaleGridLeft=1, scaleGridRight=43, scaleGridTop=1, scaleGridBottom=21);
	downSkin: Embed(source='assets/images/ButtonBar-button_downSkin.png', scaleGridLeft=1, scaleGridRight=43, scaleGridTop=1, scaleGridBottom=21);
	overSkin: Embed(source='assets/images/ButtonBar-button_overSkin.png', scaleGridLeft=1, scaleGridRight=43, scaleGridTop=1, scaleGridBottom=21);
	disabledSkin: Embed(source='assets/images/ButtonBar-button_disabledSkin.png', scaleGridLeft=1, scaleGridRight=43, scaleGridTop=1, scaleGridBottom=21);
	selectedOverSkin: Embed(source='assets/images/ButtonBar-button_overSkin.png', scaleGridLeft=1, scaleGridRight=43, scaleGridTop=1, scaleGridBottom=21);
	selectedDownSkin: Embed(source='assets/images/ButtonBar-button_downSkin.png', scaleGridLeft=1, scaleGridRight=43, scaleGridTop=1, scaleGridBottom=21); 
	selectedUpSkin: Embed(source='assets/images/ButtonBar-button_selectedUpSkin.png', scaleGridLeft=1, scaleGridRight=43, scaleGridTop=1, scaleGridBottom=21);
	selectedDisabledSkin: Embed(source='assets/images/ButtonBar-button_selectedDisabledSkin.png', scaleGridLeft=1, scaleGridRight=43, scaleGridTop=1, scaleGridBottom=21);	
}
.buttonBarFirstButton {
	upSkin: Embed(source='assets/images/ButtonBar-firstButton_upSkin.png', scaleGridLeft=2, scaleGridRight=42, scaleGridTop=6, scaleGridBottom=16);
	downSkin: Embed(source='assets/images/ButtonBar-firstButton_downSkin.png', scaleGridLeft=2, scaleGridRight=42, scaleGridTop=6, scaleGridBottom=16);
	overSkin: Embed(source='assets/images/ButtonBar-firstButton_overSkin.png', scaleGridLeft=2, scaleGridRight=42, scaleGridTop=6, scaleGridBottom=16);
	disabledSkin: Embed(source='assets/images/ButtonBar-firstButton_disabledSkin.png', scaleGridLeft=2, scaleGridRight=42, scaleGridTop=6, scaleGridBottom=16);
	selectedOverSkin: Embed(source='assets/images/ButtonBar-firstButton_overSkin.png', scaleGridLeft=2, scaleGridRight=42, scaleGridTop=6, scaleGridBottom=16);
	selectedDownSkin: Embed(source='assets/images/ButtonBar-firstButton_downSkin.png', scaleGridLeft=2, scaleGridRight=42, scaleGridTop=6, scaleGridBottom=16); 
	selectedUpSkin: Embed(source='assets/images/ButtonBar-firstButton_selectedUpSkin.png', scaleGridLeft=2, scaleGridRight=42, scaleGridTop=6, scaleGridBottom=16);
	selectedDisabledSkin: Embed(source='assets/images/ButtonBar-firstButton_selectedDisabledSkin.png', scaleGridLeft=2, scaleGridRight=42, scaleGridTop=6, scaleGridBottom=16);	
}
.buttonBarLastButton {
	upSkin: Embed(source='assets/images/ButtonBar-lastButton_upSkin.png', scaleGridLeft=2, scaleGridRight=38, scaleGridTop=6, scaleGridBottom=16);
	downSkin: Embed(source='assets/images/ButtonBar-lastButton_downSkin.png', scaleGridLeft=2, scaleGridRight=38, scaleGridTop=6, scaleGridBottom=16);
	overSkin: Embed(source='assets/images/ButtonBar-lastButton_overSkin.png', scaleGridLeft=2, scaleGridRight=38, scaleGridTop=6, scaleGridBottom=16);
	disabledSkin: Embed(source='assets/images/ButtonBar-lastButton_disabledSkin.png', scaleGridLeft=2, scaleGridRight=38, scaleGridTop=6, scaleGridBottom=16);
	selectedOverSkin: Embed(source='assets/images/ButtonBar-lastButton_overSkin.png', scaleGridLeft=2, scaleGridRight=38, scaleGridTop=6, scaleGridBottom=16);
	selectedDownSkin: Embed(source='assets/images/ButtonBar-lastButton_downSkin.png', scaleGridLeft=2, scaleGridRight=38, scaleGridTop=6, scaleGridBottom=16); 
	selectedUpSkin: Embed(source='assets/images/ButtonBar-lastButton_selectedUpSkin.png', scaleGridLeft=2, scaleGridRight=38, scaleGridTop=6, scaleGridBottom=16);
	selectedDisabledSkin: Embed(source='assets/images/ButtonBar-lastButton_selectedDisabledSkin.png', scaleGridLeft=2, scaleGridRight=38, scaleGridTop=6, scaleGridBottom=16);	
}

ProgressBar {
	barSkin: Embed(source='assets/images/ProgressBar_barSkin.png', scaleGridLeft=1, scaleGridRight=52, scaleGridTop=1, scaleGridBottom=3);
	trackSkin: Embed(source='assets/images/ProgressBar_trackSkin.png', scaleGridLeft=1, scaleGridRight=149, scaleGridTop=1, scaleGridBottom=3);
	indeterminateSkin: Embed(source='assets/images/ProgressBar_indeterminateSkin.png', scaleGridLeft=0, scaleGridRight=200, scaleGridTop=1, scaleGridBottom=5);
}

VSlider, HSlider {
	thumbDisabledSkin: Embed(source='assets/images/Slider_thumbDisabledSkin.png');
	thumbDownSkin: Embed(source='assets/images/Slider_thumbDownSkin.png');
	thumbOverSkin: Embed(source='assets/images/Slider_thumbOverSkin.png');
	thumbUpSkin: Embed(source='assets/images/Slider_thumbUpSkin.png');
	trackHighlightSkin: Embed(source='assets/images/Slider_trackHighlightSkin.png', scaleGridLeft=0, scaleGridRight=63, scaleGridTop=1, scaleGridBottom=2);
	trackSkin: Embed(source='assets/images/Slider_trackSkin.png', scaleGridLeft=2, scaleGridRight=105, scaleGridTop=1, scaleGridBottom=2);	
}

Panel, TitleWindow {
	borderAlpha: 1.0;
	headerHeight: 24;
	headerColors: #717172, #585858;
	borderThicknessBottom: 2;
	borderThicknessRight: 9;
	borderThicknessLeft: 9;	
	borderThicknessTop: 13;
	borderColor: #212324;
	titleStyleName: panelTitle;
	closeButtonDisabledSkin: Embed(source='assets/images/Panel_closeButtonDisabledSkin.png');
	closeButtonDownSkin: Embed(source='assets/images/Panel_closeButtonDownSkin.png');
	closeButtonOverSkin: Embed(source='assets/images/Panel_closeButtonOverSkin.png');
	closeButtonUpSkin: Embed(source='assets/images/Panel_closeButtonUpSkin.png');		
}
.panelTitle {
	textAlign: center;
	color: #ffffff;
}

Alert {
	borderColor: #212324;
	backgroundColor: #212324;
	buttonStyleName: alertButton;
}
.alertButton {
	color: #cccccc;
	textRollOverColor: #ffffff;
	textSelectedColor: #ffffff;
}

DataGrid {
	headerColors: #363636, #000000;
	headerStyleName: dataGridHeader;
}
.dataGridHeader {
	color: #eeeeee;
}

TextArea, TextInput, List, HorizontalList, TileList {
	backgroundColor: #f4f4f4;
}